/* style2.css */
body {
    font-family: 'Nanum Brush Script', sans-serif;
}
a {
    text-decoration: none;
    width: 1200px;
    height: 400px;
}

.banner > h1 {
    display: flex;
    font-size: 80px;
    color: #555;
    font-weight: 400;
    text-shadow: 6px 6px 4px #999;
}

.banner {
    position: relative;
    background-image: url(./images/bg-1.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > h1 > div {
    animation: text 0.7s ease-in-out 1;
    opacity: 0;
    animation-fill-mode: forwards;
    margin-bottom: 90px;
}

.banner > .star {
    position: absolute;
    font-size: 80px;
    top: -20px;
    right: 480px;
    color: rgb(132, 175, 15);
    animation: star 1s ease-in-out 1;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
    opacity: 0;
    -webkit-text-stroke: 1px yellowgreen;
    text-shadow: 6px 6px 4px #999;
    animation-direction: alternate;
}

.banner > h1 > div:nth-child(1) {
    animation-delay: 0.5s;
}

.banner > h1 > div:nth-child(2) {
    animation-delay: 1s;
}

.banner > h1 > div:nth-child(3) {
    animation-delay: 1.5s;
}

.banner > h1 > div:nth-child(4) {
    animation-delay: 1.75s;
}

.banner > h1 > div:nth-child(5) {
    animation-delay: 2s;
}

.banner > h1 > div:nth-child(6) {
    animation-delay: 2.5s;
}

.banner > h1 > div:nth-child(7) {
    animation-delay: 2.75s;
}

.banner > h1 > div:nth-child(8) {
    animation-delay: 3.25s;
}

.banner > h1 > div:nth-child(9) {
    animation-delay: 3.5s;
}

@keyframes text {
    0% {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes star {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner > .star {
    animation-delay: 3.5s;
}
